---
layout: default
body_class: "home-template user"
title: "Blog sobre Haskell e programação funcional em português"
---
{% include header.html %}
<div class="page-content">
  <div class="wrapper">
    <div style="min-height: 300px;">
      <h1 class="404-header" style="margin-bottom: 30px; font-size: 40px; font-weight: bolder;">
        404!
      </h1>
      <a style="font-size: 20px; font-weight: bold" href="/">
        Volte para a home
      </a>
    </div>
  </div>
</div>
{% include footer.html %}
