---
layout: default
body_class: "home-template user"
title: "Blog sobre Haskell e programação funcional em português"
---
{% include header.html %}

<div class="page-content">
  <div class="wrapper">
    <div class="home">
      {% for post in site.posts %}
      <article class="{%comment%}post_class{%endcomment%}">
          <div class="meta">
            <time datetime="{{ post.date | date: '%Y-%m-%d' }}">
              <a href="{{ post.url | prepend: site.baseurl }}">{{ post.date | date: "%d/%m/%Y" }}</a>
            </time>
          </div>

          <header>
              <h1><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>

              {% if post.author %}
              <h2 class="author-name" style="color: #aaa; font-size: 20px; margin-top: 15px;">
                {% if post.author_url %}
                <style>
                 h2.author-name a:hover {
                   text-decoration: underline;
                 }
                </style>
                <a style="color: #aaa;" href="{{post.author_url}}">
                  {% endif %}
                  {{ post.author }}
                  {% if post.author_url %}
                </a>
                {% endif %}
              </h2>
              {% endif %}

              <span style="display: inline-block; margin-top: 10px; color: #aaa; height: 25px;">
                <span style="padding: 3px; display: inline-block; margin-bottom: 5px" class="js-views-counter" data-href="{{ post.url }}"></span>


                <span style="margin-left: 20px; padding: 3px; display: inline-block;" class="js-active-counter" data-href="{{ post.url }}"></span>
              </span>
          </header>

          <div class="text">
              <p>{{ post.excerpt }}</p>
              <a href="{{ post.url | prepend: site.baseurl }}" class="readmore">Continue lendo</a>
          </div>
      </article>
      {% endfor %}

      {% include pagination.html %}

    </div>
  </div>
</div>

{% include footer.html %}
