<!DOCTYPE html>
<html>
  {% include announcement.html %}
  {% include head.html %}

  <body class="{{ page.body_class }}">

    {{ content }}

    <a href="{{ site.baseurl | prepend: site.url }}" id="blog_badge">
      <span style="background-image: url('{{ site.baseurl }}/assets/images/{{ site.logo }}');">
        {{ site.name }}
      </span>
    </a>

    <div class="social-top-buttons" style="position: absolute; top: 10px; left: 10px; text-align: left;">
      <a class="twitter-follow-button" href="https://twitter.com/haskellbr2"></a>
      <script async defer src="http://slack.haskellbr.com/slackin.js"></script>
      <iframe src="https://ghbtns.com/github-btn.html?user=haskellbr&repo=blog&type=star&count=true" frameborder="0" scrolling="0" width="170px" height="20px"></iframe>
    </div>

    <script>
      function no_schema_links () {
        var links = document.querySelectorAll('.js-remove-domain-schema');
        if (links) {
          for (i = 0; i < links.length; ++i) {
            var link = links[i],
              text = link.innerHTML,
            no_schema = text.replace(/.*?:\/\//g, "");
            link.innerHTML = no_schema;
          }
        }
      }

      window.onload = function () {
        no_schema_links();
      }
    </script>
  </body>

</html>
